<div class="body">
  <div class="container">
    <div class="row">
        <div class="col-sm-6" style="text-align:center;margin-top: 70px;">
          <img src="https://lh3.googleusercontent.com/pw/AM-JKLUwycv_SowSLxmRrTKqiZ9mIci_gmDGtyBkoxJpbCqxbuKylV_o9DDjdZzxddZfiO5sQSQOFR63iRq53Mgm-oyBqrPd1m6J-pMGep3uqsQLp0zLopUkJL66FOi6CZjl1elB1bI9ANYlf4vwmmhiG6Qs=w507-h248-no?authuser=0">
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Cadastro de autor</h3>
              <form>
                <div class="form-row mb-3">
                  <label for="" class="form-label">Nome</label>
                  <input type="text" class="form-control" [(ngModel)]="autor.nome" name="nome">
              </div>
              <div class="form-row mb-3">
                  <label for="" class="form-label">Telefone</label>
                  <input type="text" class="form-control" [(ngModel)]="autor.telefone" name="telefone">
              </div>
              <div class="form-row mb-3">
                  <label for="" class="form-label">Nacionalidade</label>
                  <input type="text" class="form-control" [(ngModel)]="autor.nacionalidade" name="nacionalidade">
              </div>
                <button type="submit" class="btn btn-primary" (click)="cadastrarAutor()">Cadastrar</button>
                <button style="margin-left: 20px;" type="reset" class="btn btn-primary">Resetar</button>
                
            </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
