<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="text-align:center;margin-top: 150px;">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUwycv_SowSLxmRrTKqiZ9mIci_gmDGtyBkoxJpbCqxbuKylV_o9DDjdZzxddZfiO5sQSQOFR63iRq53Mgm-oyBqrPd1m6J-pMGep3uqsQLp0zLopUkJL66FOi6CZjl1elB1bI9ANYlf4vwmmhiG6Qs=w507-h248-no?authuser=0">
          </div>
            <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Cadastro de Itens Pedidos</h3>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Id_Pedido</label>
                        <input type="number" class="form-control" [(ngModel)]="itemPedido.id_pedido" name="id_pedido" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Id_Livro</label>
                        <input type="number" class="form-control" [(ngModel)]="itemPedido.id_livro" name="id_livro" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Quantidade</label>
                        <input type="number" class="form-control" [(ngModel)]="itemPedido.quantidade" name="quantidade" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Preço</label>
                        <input type="number" class="form-control" [(ngModel)]="itemPedido.preco" name="preco" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Presente</label>
                        <select aria-label="Default select example" class="form-control" [(ngModel)]="itemPedido.presente" name="presente" required>
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                        </select>   
                    </div>
                  
                
                  <button type="submit" class="btn btn-primary" (click)="salvar()">Enviar</button> 
                  <button style="margin-left: 20px;" type="reset" class="btn btn-primary">Resetar</button>
                </form>
              </div>
            </div>
            </div>        
        </div>
    </div>
</div>
