<div class="body">
  <div class="container">
    <div class="row">
        <div class="col-sm-6" style="text-align:center;margin-top: 150px;">
          <img src="https://lh3.googleusercontent.com/pw/AM-JKLUwycv_SowSLxmRrTKqiZ9mIci_gmDGtyBkoxJpbCqxbuKylV_o9DDjdZzxddZfiO5sQSQOFR63iRq53Mgm-oyBqrPd1m6J-pMGep3uqsQLp0zLopUkJL66FOi6CZjl1elB1bI9ANYlf4vwmmhiG6Qs=w507-h248-no?authuser=0">
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Cadastro de editora</h3>
              <form>
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" [(ngModel)]="editora.nome" name="nome">
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefone</label>
                    <input type="text" class="form-control" [(ngModel)]="editora.telefone" name="telefone">
                </div>
                <div class="mb-3">
                    <label class="form-label">Razão Social</label>
                    <input type="text" class="form-control" [(ngModel)]="editora.razao_social" name="razao_social">
                </div>
                <div class="mb-3">
                    <label class="form-label">cnpj</label>
                    <input type="text" class="form-control" [(ngModel)]="editora.cnpj" name="cnpj">
                </div>
                <div class="mb-3">
                    <label class="form-label">Inscrição Estadual</label>
                    <input type="text" class="form-control" [(ngModel)]="editora.ie" name="ie">
                </div>
                <button type="submit" class="btn btn-primary" (click)="cadastrarEditora()">Enviar</button>
                <button style="margin-left: 20px;" type="reset" class="btn btn-primary">Resetar</button>
            </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>