<div class="body">
    <div class="container">
        <div class="row">
          <div class="col-sm-6" style="text-align:center;margin-top: 150px;">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUwycv_SowSLxmRrTKqiZ9mIci_gmDGtyBkoxJpbCqxbuKylV_o9DDjdZzxddZfiO5sQSQOFR63iRq53Mgm-oyBqrPd1m6J-pMGep3uqsQLp0zLopUkJL66FOi6CZjl1elB1bI9ANYlf4vwmmhiG6Qs=w507-h248-no?authuser=0">
          </div>
            <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Cadastro de Pessoa</h3>
                <form>
                  <div class="mb-3">
                      <label class="form-label">Nome</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome" name="nome" required>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Telefone</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.telefone" name="telefone" required>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Username</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" required>
                  </div>
                  
                
                  <button type="submit" class="btn btn-primary" (click)="salvar()">Enviar</button> 
                  <button style="margin-left: 20px;" type="reset" class="btn btn-primary">Resetar</button>
                </form>
              </div>
            </div>
            </div>        
        </div>
    </div>
</div>
