 <div class="body">
  <div class="container">
    <div class="row ">
      <div class="col-sm-6 position-absolute top-50 start-50 translate-middle" style="margin-top: -250px;">
        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWHvXWKbjkaiHIhiA_QkgH3On1HRARr3sVv-P_cLZGWs_Msn3gyyCPOgmswS7Sn0tQbci6dm5BOyhWA75SBe6hksS4BWu90S69oypMDotSWC5IRKgz3y8Cx-DIgMMMJ0fqpOd1kEz7gcSmByrxVwd7Y=w665-h121-no?authuser=0">
      </div>
      <div class="col-sm-6">
        <div class="card position-absolute top-50 start-50 translate-middle" style="width: 30rem;">
          <div class="card-body">
            <h3 class="card-title">Login</h3>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enderço de email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <div id="emailHelp" class="form-text">Não tem uma conta? Cadastrar</div>
              </div>
              
              <button type="submit" routerLink = "/home" class="btn btn-primary">Entrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
