.card-title{
  text-align: center;
}

.body{
  height: 100vh;
    background-color: #FFEFD5;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLUTE_T1qbyyMOEq3RE7oY7euGNz8rvF3q2qEQ6y1AJO0fxJieqcmc8NvOD8f0VAU8gWWiRpVxILZ1KPA8uVDiD3GNuL5AWDkmoKYSa4eWXK3NkqRf-fWFBQRGzi4B-O7YBQd7Sd8mXH__7v8tpCzo2s=w657-h658-no?authuser=0");
}