.hr{
    border-style: solid;
    border-width: 7px;
    border-radius: 7px;
    color: #212529;
    opacity: 100%;
}
.body{
    background-color: #e1e1e3;
    font-family: Arial Narrow, sans-serif;
}
.h2{
    background-color: white;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card-img-top{
    border-radius: 3px;
}