<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="text-align:center;margin-top: 150px;">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUwycv_SowSLxmRrTKqiZ9mIci_gmDGtyBkoxJpbCqxbuKylV_o9DDjdZzxddZfiO5sQSQOFR63iRq53Mgm-oyBqrPd1m6J-pMGep3uqsQLp0zLopUkJL66FOi6CZjl1elB1bI9ANYlf4vwmmhiG6Qs=w507-h248-no?authuser=0">
          </div>
            <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Cadastro de Pessoa</h3>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Id_Cliente</label>
                        <input type="number" class="form-control" [(ngModel)]="pedido.id_cliente" name="id_cliente" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Data</label>
                        <input type="date" class="form-control" [(ngModel)]="pedido.data" name="data" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Previsão de entrega</label>
                        <input type="date" class="form-control" [(ngModel)]="pedido.previsao_entrega" name="previsao_entrega" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Forma de Pagamento</label>
                        <select aria-label="Default select example" class="form-control" [(ngModel)]="pedido.forma_pagamento" name="forma_pagamento" required>
                            <option value="" selected>Selecione</option>
                            <option value="À vista - Boleto">À vista - Boleto</option>
                            <option value="À vista - Pix">À vista - Pix</option>
                            <option value="1 x Crédito (5% de desconto)">1 x Crédito (5% de desconto)</option>
                            <option value="5 x Crédito (3% de desconto)">5 x Crédito (3% de desconto)</option>
                            <option value="12 x Crédito (sem juros)">12 x Crédito (sem juros)</option>
                            <option value="15 x Crédito (3% de juros)">15 x Crédito (3% de juros)</option>
                        </select>   
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Observações</label>
                        <input type="text" class="form-control" [(ngModel)]="pedido.observacoes" name="observacoes" required>
                    </div>
                  
                
                  <button type="submit" class="btn btn-primary" (click)="salvar()">Enviar</button> 
                  <button style="margin-left: 20px;" type="reset" class="btn btn-primary">Resetar</button>
                </form>
              </div>
            </div>
            </div>        
        </div>
    </div>
</div>
