<div class="body">
    <div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <div class="card position-absolute top-50 start-50 translate-middle">
            <div class="card-body">
              <h3 class="card-title">Erro 404 | Página não encontrada</h3><br>
              <h6>Página não encontrada ou não existe mais.</h6>
              <button type="submit" routerLink = "/home" class="btn btn-primary" style="background-color: black;margin-top: 80px;">Home</button>
              <img style="width: 100px;height:100px;margin-left: 250px;" src="https://lh3.googleusercontent.com/pw/AM-JKLXRkK-vmqDt4KydvmVweYeEnvP1U9nTtkGmYPNfPGPE0QrbAH0EuyuFDP-li6r-yX8OpoKF4RhgDHhTvLDn_MYAJ48oZmDxjBPlZH6FH_jCAU0nolXcvnh_3cNDP9XBW2hkyJzadHIaU0-5kZm_JK7V=w374-h304-no?authuser=0">
            </div>
          </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    </div>
</div>

