<div class="body">
    <div class="container">
      <div class="row">
          <div class="col-sm-6" style="text-align:center;margin-top: 150px;">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUwycv_SowSLxmRrTKqiZ9mIci_gmDGtyBkoxJpbCqxbuKylV_o9DDjdZzxddZfiO5sQSQOFR63iRq53Mgm-oyBqrPd1m6J-pMGep3uqsQLp0zLopUkJL66FOi6CZjl1elB1bI9ANYlf4vwmmhiG6Qs=w507-h248-no?authuser=0">
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Cadastro de Endereço</h3>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Id da pessoa</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.id_pessoa" name="id_pessoa">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descricao</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.descricao" name="descricao">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Rua</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.rua" name="rua">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Número</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.numero" name="numero">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Bairro</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.bairro" name="bairro">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">CEP</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.cep" name="cep">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cidade</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.cidade" name="cidade">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Estado</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.uf" name="uf">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Complemento</label>
                        <input type="text" class="form-control" [(ngModel)]="endereco.complemento" name="complemento">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="cadastrarEndereco()">Enviar</button>
                    <button style="margin-left: 20px;" type="reset" class="btn btn-primary">Resetar</button>
              </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  

