<body class="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card position-absolute top-50 start-50 translate-middle" style="width: 14rem;">
                    <img src="https://lh3.googleusercontent.com/pw/AM-JKLXdQCN691Mqjia1tSNH8bs0OI9OliQjbLMXka4A9PIzL_5VTaItom7eYq5k-Jg4c5aWi_9VtQ6qghe3Ixw7IR-cu3Z-dE-4AMCA1aIWXYv3tz9oShWIZtqKPZW388TOUHXVxsE7CexwNtDeDWr2Hn82=w375-h306-no?authuser=0" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="mb-3">
                            <h2>Cadastros</h2>
                        </div>
                        <div class="mb-3" *ngFor="let button of buttons">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark" [routerLink]="button.rota">{{ button.texto }}</button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-danger" routerLink="/home">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
