.card{
    text-align: center;
    border-style: none;
    background-color: transparent;
}

.body{
    height: 100vh;
    background-color: #FFEFD5;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLVSDw2jy90PaDUxZwjJZh2sLTcgfbyILC6iKWmskaSBqqIZHcJhcfSrt_C5KY1idYBvJkPRSYKO9NpUmPmYC5n5CIWACzfFCWKFsLw1X31FXpwwqx5Du4k2VASqUdszho60P8PJKCsesnpaWHU-J-B2=w657-h658-no?authuser=0");
}